<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Skymu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<userSettings>
        <Skymu.Properties.Settings>
                <setting name="WindowFrame" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="AutoLoginEnabled" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="BrandingName" serializeAs="String">
                        <value>Skype</value>
                </setting>
                <setting name="ListDelimiter" serializeAs="String">
                        <value>☛</value>
                </setting>
                <setting name="ThemeRoot" serializeAs="String">
                        <value>/Resources/Light</value>
                </setting>
                <setting name="EmojiFps" serializeAs="String">
                        <value>45</value>
                </setting>
                <setting name="EnableNotifications" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="AccurateNotifications" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Homepage" serializeAs="String">
                        <value>https://silentspacemarine.com/</value>
                </setting>
                <setting name="HomepageScroll" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="UseClearType" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="PresFrame" serializeAs="String">
                        <value>Aero.NormalColor</value>
                </setting>
                <setting name="BuildVersion" serializeAs="String">
                        <value>0.1.10</value>
                </setting>
                <setting name="BuildName" serializeAs="String">
                        <value>Breithorn Kim Kardashian</value>
                </setting>
                <setting name="Language" serializeAs="String">
                        <value>English</value>
                </setting>
                <setting name="StartOnStartup" serializeAs="String">
                        <value>False</value>
                </setting>
        </Skymu.Properties.Settings>
    </userSettings>
</configuration>
