body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

html {
    background-color: #f8f8f8;
}

html,
textarea {
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

html {
    background-color: #f8f8f8;
}

html,
body {
    height: 100%;
}

a {
    outline: none;
    border: 0;
    color: #377AD9;
}

img {
    -ms-interpolation-mode: bicubic;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

a.button,
a.button:visited,
a.buttonLightBlue,
a.buttonLightBlue:visited {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
    cursor: default;
}

a.button:hover,
a.buttonLightBlue:hover {
    color: #333;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

a.button:active,
a.buttonLightBlue:active {
    color: #333;
    display: inline-block;
    text-decoration: none;
}

a.button span.innerButton,
a.buttonLightBlue span.innerButton {
    display: block;
    padding: 6px 17px 9px 17px;
}

a.button em,
a.buttonLightBlue em {
    display: block;
    height: 100%;
    padding-left: 14px;
    background-position: 5px 4px;
    background-repeat: no-repeat;
    font-style: normal;
}

a.button {
    background: url(../images/buttons/25_button.png) left 0 no-repeat;
}

a.button span.innerButton {
    background: url(../images/buttons/25_button.png) right -30px no-repeat;
}

a.button:hover {
    background: url(../images/buttons/25_button.png) left -60px no-repeat;
}

a.button:hover span.innerButton {
    background: url(../images/buttons/25_button.png) right -90px no-repeat;
}

a.button:active {
    background: url(../images/buttons/25_button.png) left -120px no-repeat;
}

a.button:active span.innerButton {
    background: url(../images/buttons/25_button.png) right -150px no-repeat;
}

a.button.disabled,
a.button.disabled:hover,
a.button.disabled:active {
    background: url(../images/buttons/25_button.png) left -180px no-repeat;
    color: #999;
}

a.button.disabled span.innerButton,
a.button.disabled:hover span.innerButton,
a.button.disabled:active span.innerButton {
    background: url(../images/buttons/25_button.png) right -210px no-repeat;
    color: #999;
    padding: 6px 14px 9px 14px;
}

a.buttonLightBlue {
    background: url(../images/buttons/25_button_light_blue.png) left 0 no-repeat;
}

a.buttonLightBlue span.innerButton {
    background: url(../images/buttons/25_button_light_blue.png) right -30px no-repeat;
}

a.buttonLightBlue:hover {
    background: url(../images/buttons/25_button_light_blue.png) left -60px no-repeat;
}

a.buttonLightBlue:hover span.innerButton {
    background: url(../images/buttons/25_button_light_blue.png) right -90px no-repeat;
}

a.buttonLightBlue:active {
    background: url(../images/buttons/25_button_light_blue.png) left -120px no-repeat;
}

a.buttonLightBlue:active span.innerButton {
    background: url(../images/buttons/25_button_light_blue.png) right -150px no-repeat;
}

a.buttonLightBlue.disabled,
a.buttonLightBlue.disabled:hover,
a.buttonLightBlue.disabled:active {
    background: url(../images/buttons/25_button_light_blue.png) left -180px no-repeat;
    color: #999;
}

a.buttonLightBlue.disabled span.innerButton,
a.buttonLightBlue.disabled:hover span.innerButton,
a.buttonLightBlue.disabled:active span.innerButton {
    background: url(../images/buttons/25_button_light_blue.png) right -210px no-repeat;
    color: #999;
    padding: 6px 14px 9px 14px;
}

a.buttonSmall {
    background: url("../images/button_16_right.png") no-repeat right top;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    color: #465258;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
}

a.buttonSmall span.innerButton {
    display: block;
    float: left;
    height: 16px;
    padding-left: 8px;
    margin-right: 8px;
    background: url("../images/button_16_left.png") no-repeat left top;
}

* html a.buttonSmall span.innerButton {
    margin-right: 4px;
}

a.buttonSmall:hover {
    background: url("../images/button_16_right.png") no-repeat right -16px;
}

a.buttonSmall:active {
    background: url("../images/button_16_right.png") no-repeat right -32px;
}

a.buttonSmall:hover span.innerButton {
    background: url("../images/button_16_left.png") no-repeat left -16px;
}

a.buttonSmall:active span.innerButton {
    background: url("../images/button_16_left.png") no-repeat left -32px;
}

ul.linksRow a.button {
    margin-top: 10px;
}

#container {
    width: 650px;
    min-height: 100%;
    position: relative;
    background-image: url("../images/bg_1x4_x1.png");
    background-position: right center;
    background-repeat: repeat-y;
    background-color: #fff;
    padding-right: 4px;
}

* html #container {
    height: 100%;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/Connecting_40x40_x36_anim.gif");
    z-index: 10000;
    top: 0;
    left: 0;
}

#debug {
    display: none;
    padding: 18px 20px;
    font-size: 11px;
}

#debug .controls a {
    margin-right: 10px;
}

#myselfPanel {
    padding: 16px;
    background-image: url("../images/myselfPanel_bg_1x36.png");
    background-repeat: repeat-x;
    background-color: #D9E8F0;
}

#myselfPanel .header {
    position: relative;
    width: 100%;
}

#myselfPanel .header h1 {
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

#myselfPanel .header a.settings {
    width: 16px;
    height: 16px;
    float: left;
    background-image: url("../images/Settings_16x16_x5.png");
    background-repeat: no-repeat;
    display: block;
}

#myselfPanel .header a.settings:hover {
    background-position: 0 -16px;
}

#myselfPanel .header a.settings:active {
    background-position: 0 -32px;
}

#myselfPanel .header .rightNavControls {
    float: right;
}

#myselfPanel .header a.showAvatarView {
    float: left;
    margin-right: 4px;
    display: block;
}

#myselfPanel .header a.showAvatarView.selected {
    background: url("../images/button_16_right.png") no-repeat right -32px;
}

#myselfPanel .header a.showAvatarView.selected span.innerButton {
    background: url("../images/button_16_left.png") no-repeat left -32px;
}

#myselfPanel .body {
    margin-top: 14px;
    clear: both;
}

#myselfPanel a.avatar {
    width: 48px;
    height: 48px;
    border: 1px solid #C9D7DE;
    background-color: #DADDDE;
    float: left;
    display: block;
    font-size: 0;
}

#myselfPanel a.avatar:hover {
    border-color: #3398FD;
}

#myselfPanel .avatar img {
    width: 48px;
    height: 48px;
}

#myselfPanel .body .textareaContainer {
    width: 557px;
    float: left;
    padding-left: 9px;
    position: relative;
}

#myselfPanel .body .textareaContainer .bubbles {
    background-image: url("../images/Bubbles_10x9_x2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 10px;
    height: 9px;
    left: 0;
    top: 7px;
    position: absolute;
    z-index: 1;
    font-size: 0;
}

#myselfPanel .body .textareaContainer.focus .bubbles {
    background-image: url("../images/Bubbles_10x9_x2.png");
    background-position: 0 -9px;
}

#myselfPanel .body .textareaContainer textarea {
    width: 539px;
    border: 0;
    overflow: hidden;
    font-size: 12px;
    padding: 5px 8px 0 8px;
    display: block;
    border-left: 1px solid #B6C2D0;
    border-right: 1px solid #B6C2D0;
    background-color: #fff;
    outline: 0;
    height: 39px;
}

#myselfPanel .body .textareaContainer textarea.defaultMoodMessage {
    color: #AAA;
}

#myselfPanel .body .textareaContainer.focus textarea {
    border-color: #9FAAB6;
}

#myselfPanel .body .textareaContainer .topBorder {
    background-image: url("../images/Textarea-t_557x3_x2.png");
    background-position: 0 0;
    padding-top: 3px;
    *padding-top: 2px;
    background-repeat: no-repeat;
    zoom: 1;
}

#myselfPanel .body .textareaContainer.focus .topBorder {
    background-position: 0 -3px;
}

#myselfPanel .body .textareaContainer .bottomBorder {
    background-image: url("../images/Textarea-b_557x3_x1.png");
    padding-bottom: 3px;
    *padding-bottom: 2px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    zoom: 1;
}

#myselfPanel .body .textareaContainer .editControls {
    background-color: #D9E8F0;
    margin-top: 8px;
    display: none;
}

#myselfPanel .body .textareaContainer .editControls .movie {
    float: left;
}

html.offline #myselfPanel .body .textareaContainer .editControls .movie {
    display: none;
}

#myselfPanel .body .textareaContainer .editControls .movie a {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../images/Video_mood_16x16_x5.png");
    background-repeat: no-repeat;
}

#myselfPanel .body .textareaContainer .editControls .movie a:hover {
    background-position: 0 -16px;
}

#myselfPanel .body .textareaContainer .editControls .movie a:active {
    background-position: 0 -32px;
}

#myselfPanel .body .textareaContainer .editControls .share {
    float: right;
}

#myselfPanel .body .textareaContainer .editControls .share a {
    display: block;
    float: left;
    text-align: center;
    color: #465258;
    text-decoration: none;
}

#myselfPanel .body .textareaContainer .editControls .share .text {
    color: #9B9B9B;
    font-size: 11px;
    margin-right: 4px;
    float: left;
    line-height: 17px;
}

#feedSettings {
    background-color: #C3D0D8;
    background-image: url("../images/feedSettings_expanded_bg_1x4.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    padding: 16px;
    font-size: 11px;
    position: relative;
    display: none;
}

#feedSettings .showHiddenFriendUpdates {
    position: relative;
    width: 100%;
    clear: both;
    margin-top: 10px;
    display: none;
}

#feedSettings .header {
    position: relative;
    width: 100%;
}

#feedSettings .header h1 {
    font-weight: bold;
    float: left;
}

#feedSettings .header a.close {
    right: 0;
    top: -4px;
    width: 16px;
    height: 16px;
    float: right;
    background-image: url("../images/Close_16x16_x3.png");
    background-repeat: no-repeat;
}

#feedSettings .header a.close:hover {
    background-position: 0 -16px;
}

#feedSettings .header a.close:active {
    background-position: 0 -32px;
}

#feedSettings .col {
    width: 44%;
    margin-right: 72px;
    float: left;
    display: inline;
    margin-top: 4px;
}

#feedSettings .col.last {
    margin-right: 0;
}

#feedSettings .row {
    margin-top: 14px;
}

#feedSettings .row.last {
    margin-bottom: 0;
}

#feedSettings .checkboxGroup,
#feedSettings .toggleGroup {
    width: 91%;
    float: left;
    display: inline;
}

#feedSettings .toggleGroup {
    width: auto;
    text-align: right;
}

#feedSettings .checkboxGroup label {
    float: left;
    width: 80%;
}

#feedSettings .checkboxGroup input {
    vertical-align: top;
    margin-top: -2px;
    float: left;
    margin-right: 9px;
    *margin-top: -4px;
}

#feedSettings .toggleGroup a.toggle {
    background-image: url("../images/Switch_22x13_x4.png");
    background-repeat: no-repeat;
    background-position: 0 -26px;
    width: 22px;
    height: 13px;
    display: block;
    float: right;
    display: inline;
}

#feedSettings .toggleGroup a.toggle:hover {
    background-position: 0 -39px;
}

#feedSettings .toggleGroup a.toggle.off {
    background-position: 0 0;
}

#feedSettings .toggleGroup a.toggle.off:hover {
    background-position: 0 -13px;
}

#feedSettings .toggleGroup a.toggle.disable,
#feedSettings .toggleGroup a.toggle.disable:hover {
    background-image: url("../images/Switch_22x13_x4_disabled.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: default;
}

#feed {
    display: none;
    background-color: #fff;
    border-top: 1px solid #DADDDE;
}

#feed div.item {
    background-color: #fff;
    border-bottom: 1px solid #DADDDE;
    font-size: 11px;
    clear: both;
    margin: 0;
    padding: 0;
    *zoom: 1;
}

#feed div.item.defaultMessage {
    height: 57px;
    font-size: 14px;
    font-weight: bold;
    color: #999;
    line-height: 40px;
    display: none;
}

#feed div.item .normalContent.hover {
    background-color: #F2F8FC;
}

#feed div.item .normalContent {
    padding: 12px 16px 12px 16px;
}

#feed div.item .normalContent.expanded {
    background-color: #fff;
}

#feed div.item .col1 {
    float: left;
    margin-right: 10px;
    width: 32px;
}

#feed div.item .col1 .avatar {
    height: 32px;
    width: 32px;
    font-size: 0;
    border: 1px solid #CDD2D3;
    text-align: center;
    background: #fff;
}

#feed div.item .col1 .avatar img {
    width: 32px;
    height: 32px;
}

#feed div.item .col2 {
    float: left;
    width: 66%;
    margin-right: 2px;
}

#feed div.item .col2 .text {
    color: #222;
    margin-bottom: 8px;
    word-wrap: break-word;
    line-height: 12px;
}

#feed div.item .col2 .caption {
    color: #777;
    word-wrap: break-word;
}

#feed div.item .col2 .caption a {
    text-decoration: none;
}

#feed div.item .col2 .caption a {
    text-decoration: underline;
}

#feed div.item .col3 {
    float: left;
    width: 26%;
}

#feed div.item .col3 .settingsContainer {
    overflow: hidden;
    left: -999em;
    position: relative;
    margin-bottom: 8px;
    float: right;
}

#feed div.item .col3 .settingsContainer.hover {
    overflow: visible;
    left: auto;
}

#feed div.item .col3 .settingsContainer a.control {
    background-image: url("../images/Settings_30x16_x5.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 16px;
    display: block;
    text-decoration: none;
}

#feed div.item .col3 .settingsContainer a.control:hover {
    background-position: 0 -16px;
}

#feed div.item .col3 .settingsContainer a.control:active {
    background-position: 0 -32px;
}

#feed div.item .col3 .settingsContainer .settings {
    position: relative;
    display: none;
}

#feed div.item .col3 .settingsContainer .settings ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    border: 1px solid #9FA5A8;
    background-color: white;
}

#feed div.item .col3 .settingsContainer .settings ul li a {
    color: #555;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    width: 150px;
    height: 100%;
}

#feed div.item .col3 .settingsContainer .settings ul li a:hover {
    background-color: #EEE;
}

#feed div.item .col3 .date {
    color: #A3A3A3;
    word-wrap: break-word;
    clear: both;
    text-align: right;
}

#feed div.item.unseen .col3 .date {
    font-weight: bold;
    color: #FF7E03;
}

#feed div.item .fullContent {
    clear: both;
    display: none;
    background-color: #F2F8FC;
    background-image: url("../images/alert_expanded_bg_1x4.png");
    background-repeat: repeat-x;
    background-position: 0 0;
}

#feed div.item .fullContent .contentText {
    padding: 12px 16px;
}

span.emoticon img,
span.flag img {
    vertical-align: middle;
}

div.noFlash {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 150px;
    font-weight: bold;
}

#videoRosterToggle {
    min-height: 48px;
    overflow: hidden;
    background: #fff url("../images/education-bar-bg.png") repeat-x bottom left;
    border-bottom: 1px solid #E5E5E5;
    padding: 0 16px;
}

html.offline #videoRosterToggle {
    display: none;
}

#videoRosterToggle h2 {
    float: left;
    font-size: 18px;
    line-height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

#videoRosterToggle:hover {
    cursor: pointer;
}

#videoRosterToggle .barAction {
    float: right;
    margin-top: 16px;
    display: block;
}

#videoRosterToggle .barAction.hideVideoRoster {
    display: none;
}

.defaultMessage span.moreInfo a {
    margin-left: 10px;
    margin-right: 10px;
}

#avatarView {
    padding: 16px 16px 16px 16px;
    background-color: #D9E8F0;
    font-size: 11px;
    position: relative;
}

#avatarView h1 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
}

#avatarView .avatarList .avatarItem {
    float: left;
    margin-left: 32px;
    width: 98px;
}

#avatarView .avatarList .avatarItem.first {
    margin-left: 0;
}

#avatarView .avatarList .avatarItem .avatarWrapper {
    height: 98px;
    position: relative;
    font-size: 0;
    background-image: url("../images/avatarview/AvatarShadow_98x98.png");
    background-repeat: no-repeat;
    text-align: center;
}

#avatarView .avatarList .avatarItem .avatarWrapper img.avatar {
    width: 96px;
    height: 96px;
}

#avatarView .avatarList .avatarItem.default {
    background-image: url("../images/avatarview/AvatarPlaceholder_98x98.png");
    height: 98px;
}

#avatarView .avatarList .avatarItem.default a.addContact {
    background-image: url("../images/avatarview/Add_80x16_x3.png");
    background-repeat: no-repeat;
    color: white;
    display: block;
    height: 16px;
    line-height: 16px;
    margin-bottom: 40px;
    margin-left: 9px;
    margin-top: 40px;
    text-decoration: none;
    width: 80px;
    text-align: center;
}

#avatarView .avatarList .avatarItem.default a.addContact:hover {
    background-position: 0 -16px;
}

#avatarView .avatarList .avatarItem.default a.addContact:active {
    background-position: 0 -32px;
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions {
    top: 30px;
    background-image: url("../images/avatarview/ButtonBackground_72x38.png");
    width: 72px;
    height: 38px;
    left: 13px;
    position: absolute;
    z-index: 1;
    display: none;
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions.visible {
    display: block;
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions a {
    top: 3px;
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions a.call {
    left: 3px;
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions a.call.start {
    background-image: url("../images/avatarview/CallStart_32x32_x3.png");
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions a.call.end {
    background-image: url("../images/avatarview/CallEnd_32x32_x3.png");
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions a.message {
    right: 2px;
    background-image: url("../images/avatarview/Message_32x32_x3.png");
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions a:hover {
    background-position: 0 -32px;
}

#avatarView .avatarList .avatarItem .avatarWrapper .actions a:active {
    background-position: 0 -64px;
}

#avatarView .avatarList .row-break {
    clear: both;
    margin-bottom: 16px;
}

#avatarView .avatarList .avatarItem .footer {
    text-align: center;
    font-size: 13px;
    margin-top: 6px;
    word-wrap: break-word;
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}

#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('../images/fancybox/fancybox.png');
}

#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    display: none;
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    border: 0 solid #fff;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('../images/fancybox/fancybox.png') -40px 0;
    cursor: pointer;
    z-index: 1103;
    display: none;
}

#fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
}

#fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#fancybox-left,
#fancybox-right {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url('../images/fancybox/blank.gif');
    z-index: 1102;
    display: none;
}

#fancybox-left {
    left: 0;
}

#fancybox-right {
    right: 0;
}

#fancybox-left-ico,
#fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
}

#fancybox-left-ico {
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -30px;
}

#fancybox-right-ico {
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -60px;
}

#fancybox-left:hover,
#fancybox-right:hover {
    visibility: visible;
}

#fancybox-left:hover span {
    left: 20px;
}

#fancybox-right:hover span {
    left: auto;
    right: 20px;
}

.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001;
}

#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('../images/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -162px;
}

#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('../images/fancybox/fancybox-y.png');
    background-position: -20px 0;
}

#fancybox-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -182px;
}

#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('../images/fancybox/fancybox-x.png');
    background-position: 0 -20px;
}

#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -142px;
}

#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('../images/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -122px;
}

#fancybox-title {
    font-family: Helvetica;
    font-size: 12px;
    z-index: 1102;
}

.fancybox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative;
}

.fancybox-title-outside {
    padding-top: 10px;
    color: #fff;
}

.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left;
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('../images/fancybox/fancy_title_over.png');
    display: block;
}

.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px;
}

#fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto;
}

#fancybox-title-float-wrap td {
    white-space: nowrap;
}

#fancybox-title-float-left {
    padding-left: 15px;
    background: url('../images/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding-bottom: 3px;
    background: url('../images/fancybox/fancybox-x.png') 0 -40px;
}

#fancybox-title-float-right {
    padding-left: 15px;
    background: url('../images/fancybox/fancybox.png') -55px -90px no-repeat;
}

.fancybox-ie6 #fancybox-close {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_close.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-left-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_nav_left.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-right-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_nav_right.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-over {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_title_over.png', sizingMethod='scale');
    zoom: 1;
}

.fancybox-ie6 #fancybox-title-float-left {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_title_left.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-float-main {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_title_main.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-float-right {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_title_right.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-bg-w,
.fancybox-ie6 #fancybox-bg-e,
.fancybox-ie6 #fancybox-left,
.fancybox-ie6 #fancybox-right,
#fancybox-hide-sel-frame {
    height: expression(this.parentNode.clientHeight+"px");
}

#fancybox-loading.fancybox-ie6 {
    position: absolute;
    margin-top: 0;
    top: expression((-20+(document.documentElement.clientHeight ? document.documentElement.clientHeight/2:document.body.clientHeight/2)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px');
}

#fancybox-loading.fancybox-ie6 div {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_loading.png', sizingMethod='scale');
}

.fancybox-ie .fancybox-bg {
    background: transparent !important;
}

.fancybox-ie #fancybox-bg-n {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_shadow_n.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-ne {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-e {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_shadow_e.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-se {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_shadow_se.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-s {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_shadow_s.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-sw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-w {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_shadow_w.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-nw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/images/fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}

div.promotion {
    padding: 0;
    overflow: hidden;
}

div.promotion:hover {
    cursor: pointer;
}

div.promotion img {
    display: block;
    border: 0;
}

div.promotion .barAction {
    float: right;
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 10;
}

div.promotion .barAction span.innerButton {
    float: right;
    display: block;
}

div.leaderPromotion {
    width: 650px;
    height: 90px;
    position: relative;
}

div.leaderPromotion img {
    width: 650px;
    height: 90px;
}

div.toasterPromotion {
    width: 300px;
    height: 250px;
    position: fixed;
    right: 0;
    bottom: 0;
}

div.toasterPromotion img {
    width: 300px;
    height: 250px;
}

div.lightboxPromotion {
    width: 640px;
    height: 420px;
    overflow: hidden;
    position: relative;
}

div.lightboxPromotion img {
    width: 640px;
    height: 420px;
}

div.lightboxPromotion .barAction {
    display: none;
}

#container.footerPadding {
    padding-bottom: 90px;
    height: auto;
}

a.buttonSmallBlue {
    background: url("../images/buttons/buttons.png");
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    white-space: nowrap;
    background-position: right top;
    float: left;
    margin: 5px 0;
}

a.buttonSmallBlue span.innerButton {
    background: url("../images/buttons/buttons.png");
    display: block;
    float: left;
    height: 32px;
    margin-right: 14px;
    padding-left: 14px;
    background-position: left top;
}

a.buttonSmallBlue:hover {
    background-position: right -32px;
}

a.buttonSmallBlue:active {
    background-position: right -64px;
}

a.buttonSmallBlue:hover span.innerButton {
    background-position: left -32px;
}

a.buttonSmallBlue:active span.innerButton {
    background-position: left -64px;
}

* html a.buttonSmallBlue span.innerButton {
    margin-right: 4px;
}

html.videoRoster #myselfPanel,
html.videoRoster #feedSettings,
html.videoRoster #feed,
html.videoRoster #avatarView {
    display: none !important;
}

html.videoRoster #videoRosterToggle .barAction.showVideoRoster {
    display: none;
}

html.videoRoster #videoRosterToggle .barAction.hideVideoRoster {
    display: block;
}

#videoRoster {
    display: none;
    padding: 20px;
}

#videoRoster h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

#videoRoster .videoContainer {
    background-color: #00aff0;
    width: 610px;
    height: 360px;
    margin: 0 auto 20px;
    font-size: 0;
    display: none;
}

#videoRoster .videoContainer .noFlash {
    font-size: 13px;
}

#videoRoster .videoContainer .noFlash a {
    color: #fff;
}

#videoRoster #videosIndex {
    overflow: hidden;
    height: 100%;
    margin-bottom: 20px;
}

#videoRoster div.nodesIndex a.videoNode {
    text-decoration: none;
    float: left;
    width: 49.2%;
    height: 53px;
    margin-bottom: 10px;
    background: #E5F7FE url("../images/videoroster/video-bg-left.png") no-repeat top left;
}

#videoRoster div.nodesIndex a.videoNode:hover {
    background: #CCEFFC url("../images/videoroster/video-bg-left.png") no-repeat 0 -64px;
}

#videoRoster div.nodesIndex a.videoNode:active {
    background: #CCEFFC url("../images/videoroster/video-bg-left.png") no-repeat 0 -127px;
}

#videoRoster div.nodesIndex a.videoNode.active {
    background: #CCEFFC url("../images/videoroster/video-bg-left.png") no-repeat 0 -127px;
}

#videoRoster div.nodesIndex a.videoNode.odd {
    float: left;
}

#videoRoster div.nodesIndex a.videoNode.even {
    float: right;
}

#videoRoster div.nodesIndex a.videoNode span.videoAbout {
    overflow: hidden;
    margin-left: 8px;
    padding: 8px 8px 8px 79px;
    display: block;
    height: 37px;
    background: #E5F7FE url("../images/videoroster/video-bg-right.png") no-repeat top right;
}

#videoRoster div.nodesIndex a.videoNode:hover span.videoAbout {
    background: #CCEFFC url("../images/videoroster/video-bg-right.png") no-repeat right -64px;
}

#videoRoster div.nodesIndex a.videoNode:active span.videoAbout {
    background: #CCEFFC url("../images/videoroster/video-bg-right.png") no-repeat right -127px;
}

#videoRoster div.nodesIndex a.videoNode.active span.videoAbout {
    background: #CCEFFC url("../images/videoroster/video-bg-right.png") no-repeat right -127px;
}

#videoRoster div.nodesIndex a.videoNode span.videoAbout img.preview {
    float: left;
    width: 67px;
    height: 37px;
    margin-left: -79px;
}

#videoRoster div.nodesIndex a.videoNode span.videoAbout span.title {
    display: block;
    color: #333;
    font-weight: bold;
    line-height: 16px;
}

#videoRoster div.nodesIndex a.videoNode span.videoAbout span.duration {
    display: block;
    margin-top: 12px;
    font-family: Arial;
    font-size: 11px;
    line-height: 11px;
    color: #999;
}

#videoRoster .linksRow {
    padding-top: 20px;
    padding-bottom: 20px;
}

#videoRoster .linksRow.separator {
    border-top: 1px solid #E5E5E5;
}

#videoRoster .linksRow .group {
    float: left;
    width: 70%;
}

#videoRoster .linksRow.first {
    padding-top: 0;
}

#videoRoster .linksRow.last {
    padding-bottom: 0;
}

#videoRoster .linksRow strong {
    font-weight: bold;
}

#videoRoster .linksRow strong.heading {
    display: block;
    margin-bottom: 4px;
}

#videoRoster .linksRow li {
    float: left;
    text-align: left;
    width: 48%;
    margin-right: 20px;
}

#videoRoster .linksRow li a.button {
    margin-top: 5px;
    clear: both;
}

#videoRoster .linksRow li.last {
    margin-right: 0;
}

#videoRoster .linksRow li p.text {
    color: #333;
    text-align: left;
    margin-bottom: 5px;
}

#videoRoster .linksRow li a.icon,
#videoRoster .linksRow li a.showVideo {
    display: block;
    float: left;
    width: 64px;
    font-size: 0;
    margin-right: 20px;
}

#videoRoster .linksRow li a.icon img,
#videoRoster .linksRow li a.showVideo img {
    width: 64px;
}

#videoRoster .linksRow li a.showVideo {
    color: #00AFF0;
    font-weight: bold;
    text-decoration: none;
    background: url(../images/promos/promo_blue_arrow.png) no-repeat right;
    display: inline;
    padding-right: 20px;
}

#videoRoster .linksRow li a.noArrow {
    color: #00AFF0;
    font-weight: bold;
    text-decoration: none;
    display: inline;
    padding-right: 20px;
}

#videoRosterToggle .barAction span.innerButton {
    float: left;
    display: block;
}

html,
body {
    overflow: hidden;
}